body{
    display: flex;
    flex-direction: column;
    font-family: 'Advent Pro', sans-serif;
    font-size: 14pt;
    min-height:100vh;
}
#header {
    background-color: #000080;
    padding: 15px;
}

.star {
    cursor:default;
    width: 40px;
    height: 40px;
    background-color: black;
}

.containerbottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.star:before {
    content: '';
    width: 38px;
    height: 38px;
    background-color: white;
    display: block;
    transition-duration: 200ms;
}
.recipebutton:hover {
    cursor: pointer;
    color:green;
}
#selectionarea {
    display: flex;
    justify-content: space-between;
}

#favoris {
    align-self: center;
    padding: 5px;
    font-weight:500;
    font-size: 16pt;
    flex-basis: 1;
    width: fit-content;
}

#favoris:hover {
    color:red;
    cursor:pointer;
}

.star.activated::before {
    width: 38px;
    height: 38px;
    background-color: teal;
    display: block;
    transition-duration: 200ms;
}
.star:hover:before {
    background-color: teal;
}

.check {
    padding:5px;
}
.star, .star:before{
    border-color: black;
    padding:1px;
    clip-path: polygon(
        50% 0%,
        63% 38%,
        100% 38%,
        69% 59%,
        82% 100%,
        50% 75%,
        18% 100%,
        31% 59%,
        0% 38%,
        37% 38%
    );
}

#buffer {
    flex-basis: auto;
    flex-grow: 1;
}

@keyframes example {
    0%   {
        font-size: 24pt;
        color: #aaa;    
    }
    100% {
        font-size: 20pt;
        color: #555;    
    }
  }
#loading {
    padding:10px;
    color: #555;
    font-weight: 500;
    font-size: 20pt;
    align-self: center;
    animation: example 1s alternate infinite ease-out;
    height:30pt;
}

#welcome {
    font-size:20pt;
    font-weight: 600;
}
#inputbar {
    margin: 10px;
    height: 28px;
    font-size: 12pt;
    flex-basis: 2;
    flex-grow: 1;
}

#page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 4;
}

#container {
    display: flex;
    width: 100%;
    flex: 1;
}

.sidebar {
    flex-grow: 1;
    background-color: #ddd;
}

#footer {
    border-top: 1px solid #aaaaaa;
    padding: 0px 10px;
    margin-top: 15px;
    text-align: center;
}

#recipeholder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recipecontainer {
    max-width: 400px;
    min-width: 250px;
    flex: 1 1 0%;
    height:fit-content;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    transition: 0.3s;
    text-decoration: none;
}
.buttonholder {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px
}


.recipename {
    font-size: 24pt;
    font-weight: 500;
    color: black;
}

.recipeprop {
    align-self: flex-end;
    width:fit-content;
    max-width: 100%;
    max-height: fit-content;
    text-align: right;
    padding-left: 10px;
}


[hidden]{
    display:none;
}
