body{
    display: flex;
    flex-direction: column;
    font-family: 'Advent Pro', sans-serif;
    font-size: 14pt
}
#header {
    background-color: #000080;
    padding: 15px;
}

#welcome {
    font-size:20pt;
    font-weight: 600;
}
#inputbar {
    max-width:300px;
    margin: 10px;
    height: 24px;
    font-size: 12pt;
}

#page {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#footer {
    border-top: 1px solid #aaaaaa;
    padding: 0px 10px;
    margin-top: 15px;
}

#recipeholder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recipecontainer {
    max-width: 400px;
    min-width: 300px;
    flex: 1 1 0%;
    height:fit-content;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    transition: 0.3s;
    text-decoration: none;
}
.buttonholder {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px
}


.recipename {
    font-size: 24pt;
    font-weight: 500;
    color: black;
}

.recipeprop {
    align-self: flex-end;
    width:fit-content;
    max-width: 100%;
}
.recipecontainer:hover {
    background-color: grey;
}

[hidden]{
    display:none;
}
